@model IEnumerable<IzintoCleaning.Models.Fumigation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.service.SerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PackageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostStorey)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.service.SerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PackageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostStorey)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Package_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Package_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Package_ID })
        </td>
    </tr>
}

</table>
