@model IEnumerable<IzintoCleaning.Models.FumigationOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Unpaid Requests</h2>
<p>
    @Html.ActionLink("Request A Service", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustName)
        </th>
        <th>
            Assigned Employee
        </th>
        <th>
            Description
        </th>
        <th>
            House Size
        </th>
        <th>
            Floors
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfService)
        </th>
         <th>
            Address
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpmloyeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fumigation.PackageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area) sq meter
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        @if (User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Assign Employee", "Create", "FumigationAssigns")
            </td>
        }
        else
        {
            <td>
                <div class="btn">
                    <div>
                        <a href="@Url.Action("Edit", "FumigationOrders", new { id=item.Order_ID})">
                            <input type="submit" value="Edit Order" class="btn  pull-right btn-success" />
                        </a>
                    </div>
                </div>
            </td>
            <td>
                <div class="btn">
                    <div>
                        <a href="@Url.Action("OnceOff", "FumigationOrders", new { id=item.Order_ID})">
                            <input type="submit" value="Pay" class="btn  pull-right btn-success" />
                        </a>
                    </div>
                </div>


            </td>
            <td>



                <div class="btn">
                    <div>
                        <a href="@Url.Action("DeleteSelected", "FumigationOrders", new { id=item.Order_ID})">
                            <input type="submit" value="Cancel" class="btn  pull-right btn-danger" data-toggle="modal" data-target="#exampleModal" />

                    </div>
                </div>

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Fumigation Order</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3>Are you sure you want to cancel your Fumigation Order?</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

                                <button type="button" class="btn btn-primary" href="@Url.Action("DeleteSelected", "FumigationOrders", new { id=item.Order_ID})">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>


            </td>
        }
    </tr>
}

</table>
